.main{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: gray;
}
.container{
    text-align: center;
    margin: auto;
    border: 2px double black;
    width: 15rem;
    height: auto;
}
.Tema{
    border-bottom: 2px dashed black;
}
.lista{
    text-align: left;
}